
@if (ViewData["MessageType"] != null)
{

if (ViewData["MessageType"].ToString() == "Error")
{
    <div class="alert alert-success" role="alert">
        @ViewData["MessageDetail"]
    </div>
    //@TempData["error"]
}


if (ViewData["MessageType"].ToString() == "warning")
{
    <div class="alert alert-warning" role="alert">
        @ViewData["MessageDetail"]
    </div>
    //@TempData["error"]
}


if (ViewData["MessageType"].ToString() == "info")
{
    <div class="alert alert-info" role="alert">
        @ViewData["MessageDetail"]
    </div>
    //@TempData["error"]
}

}
