
@if (ViewData["MessageType"] != null)
{

if (ViewData["MessageType"].ToString() == "Error")
{
    <div class="alert alert-danger" role="alert" onload="fadeMe()">
     <i class="glyphicon glyphicon-remove-circle"> </i> &nbsp;   @ViewData["MessageDetail"]
    </div>
    //@TempData["error"]
}


if (ViewData["MessageType"].ToString() == "warning")
{
    <div class="alert alert-warning" role="alert">
        @ViewData["MessageDetail"]
    </div>
    //@TempData["error"]
}


if (ViewData["MessageType"].ToString() == "info")
{
    <div class="alert alert-info" role="alert">
        @ViewData["MessageDetail"]
    </div>
    //@TempData["error"]
}

}


<script>
function fadeMe()
{
    $(this).hide(6000);
}

</script>
