@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<br />
<br />

<div class="alert alert-danger" role="alert">
    <strong>Error </strong> @Model.Exception.Message
</div>



@*<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>*@

